// global color
$blue: #096DD9;
$white: #fff;
$bgcolor: #f5f6fa;

// sidebar
$menuText:#424754;
$menuActiveText:#096DD9;
$subMenuActiveText:#096DD9; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#fff;
$menuHover:rgba(9, 109, 217, .19);

$subMenuBg:#fff;
$subMenuHover:rgba(9, 109, 217, .19);
$subMenuBorder: #eaedf1;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  subMenuBorder: $subMenuBorder;
  sideBarWidth: $sideBarWidth;
}
